body {
    margin: 0;
    padding: 0;
    font-size: 0.16rem;
    background: url(../images/ym.png);
    text-align: center;
    opacity: 0;
}

.pc .canvas-wrap {
    margin-top: 30px;
    width: 300px;
    height: 380px;
}

.canvas-wrap {
    position: relative;
    margin: 0 auto;
    width: 6.2rem;
    height: 7.3rem;
    border: 0.1rem #ff00a9 solid;
    box-shadow: 0 0.02rem 0.1rem 0.02rem rgba(0, 0, 0, 0.5);
}

ul {
    margin: 20px auto 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

li {
    float: left;
    margin-right: 5px;
}

li:nth-last-of-type(1) {
    margin-right: 0;
}

.pc input[type=button] {
    width: 1rem;
    height: 0.3rem;
    font-size: 0.16rem;
}

input[type=button] {
    width: 2rem;
    height: 0.6rem;
    border: 0.01rem #ccc solid;
    outline: none;
    background: #fff;
    cursor: pointer;
    border-radius: 0.03rem;
    box-shadow: 0 0.01rem 0.03rem 0px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    font-size: 0.3rem;
}

input[type=file] {
    width: 2rem;
    height: 0.6rem;
    margin-left: -2rem;
}

input[name="bigger"],
input[name="smaller"] {
    width: 0.6rem;
    border-radius: 50%;
    display: none;
}

.pc input[name="bigger"],
.pc input[name="smaller"] {
    display: inline-block;
    width: 0.3rem;
    border-radius: 50%;
}

#canvas1 {
    background: #000;
}

#canvas2 {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

input[type=file] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.pc input[type=file] {
    width: 1rem;
    height: 0.3rem;
    margin-left: -1rem;
}

#cut {
    width: 1rem;
    height: 0.3rem;
    background: red;
    margin-top: 0.5rem;
    text-align: center;
}

#uploading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.load {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: load-anim 2s  infinite;
}

@keyframes load-anim {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.load-dot {
    position: absolute;
    top: 97px;
    left: 97px;
    background: #fff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
